* {
	margin: 0;
	padding: 0;
	outline: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	box-sizing: border-box;
}

body, html {
	background-color: whitesmoke;
}

.App {
	width: 900px;
	height: auto;
	margin: 0 auto;
	padding: 30px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.wrapper {
	margin: 10px;
	padding: 20px;
	width: calc(50% - 20px);
	height: auto;
	border-radius: 5px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

#form {
	width: 100%;
	background-color: whitesmoke;
}

.wrapper input[type='text'] {
	margin: 0 0 5px 0;
	padding: 5px;
	width: 100%;
	border: none;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.25);
}

.wrapper textarea {
	margin: 0;
	padding: 5px;
	width: 100%;
	height: 50%;
	border: none;
	resize: none;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.25);
}

.submit {
	padding: 5px 10px !important;
	border-radius: 5px !important;
	border: 1px solid rgba(0, 0, 0, 0.25) !important;
}

.wrapper button:active {
	opacity: 0.5;
}

.wrapper .title {
	font-size: 15px;
	text-align: left;
}

.wrapper .description {
	padding: 10px 0;
	color: rgba(0, 0, 0, 0.5);
	text-align: left;
}

.wrapper div {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.wrapper div small {
	color: rgba(0, 0, 0, 0.25);
}

.wrapper div span button {
	margin: 0 0 0 30px;
	font-size: 11px;
	font-weight: bold;
	background: none;
	border: none;
	cursor: pointer;
}

input[type='radio'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	width: 40px;
	height: 30px;
	outline: none;
	display: inline-block;
	position: relative;
	cursor: pointer;
}

input[type='radio']:before, input[type='radio']:checked:before {
	top: 18%;
	left: 36%;
	content: '';
	font-size: 15px;
	color: gray;
	position: absolute;
}

input[type='radio']:checked:before {
	content: '\2714';
}

input[type='radio']:nth-child(1) {
	background-color: #ffee9b;
}
input[type='radio']:nth-child(2) {
	background-color: #b2d4f5;
}
input[type='radio']:nth-child(3) {
	background-color: #fcc3a7;
}
input[type='radio']:nth-child(4) {
	background-color: #8fd1bb;
}
input[type='radio']:nth-child(5) {
	background-color: #d5dadc;
}

#alert {
	bottom: 0;
	left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
	padding: 20px 40px;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.75);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 5px;
}

#alert span {
	margin-right: 20px;
	font-size: 15px;
	color: #ffffff !important;
}

#alert button {
	margin-left: 20px;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	padding: 5px 10px !important;
	border-radius: 5px !important;
	border: 1px solid #ffffff !important;
	background: none;
	cursor: pointer;
}

@media screen and (max-width: 960px) {
	.App {
		width: 100%;
	}
	.wrapper div span button {
		margin: 0 0 0 10px;
	}
}

@media screen and (max-width: 640px) {
	.App {
		padding: 20px;
	}
	.wrapper {
		width: calc(100% - 20px);
	}
	.wrapper div span button {
		margin: 0 0 0 20px;
	}
	#alert {
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
		left: calc(-50vw + 50%);
		right: calc(-50vw + 50%);
		margin: 0 40px;
		padding: 20px;
	}
	#alert span {
		margin-right: 0;
	}#alert button {
		margin-left: 0;
	}
}

@media screen and (max-width: 480px) {
	.wrapper:nth-child(1) div span {
		width: 100%;
	}
	.wrapper:nth-child(1) div span:nth-child(2) {
		margin: 10px 0 40px 0;
		text-align: right;
	}
	input[type='radio'] {
		width: 20% !important;
	}
}

@media screen and (max-width: 360px) {
	.wrapper:not(:nth-child(1)) div small, .wrapper:not(:nth-child(1)) div span {
		width: 100%;
		text-align: right;
	}
	.wrapper:not(:nth-child(1)) div span {
		margin-top: 10px;
	}
}
